$primary-color: #fff;
$secondary-color: #333333;
$hover-color: #fce38a;
$icon-color: #95e1d3;
$social-color: #f38181;
$description-color: #999999;
$gray-color: #cccccc;
$secondary-font: "Roboto", sans-serif;
$kaushan-font: "Kaushan Script", cursive;
$montserrat-font: "Montserrat", sans-serif;
