$main-color: #93989d;
$secondary-color: #ec6161;
$background-color: #3a3e64;
$white-color: #3a3e64;
$secondary-font: "Roboto", sans-serif;
$kaushan-font: "Kaushan Script", cursive;
$main-font: "Raleway", sans-serif;
