@import "fonts.css";

:root {
    --white-color: #ffffff;
    --gray-color: #747474;
    --black-color: #333333;
    --montserrat-font: "Montserrat", sans-serif;
    --roboto-font: "Roboto", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--montserrat-font);
    color: var(--black-color);
    font-size: 14px;
    line-height: 1.2;
}

.container {
    margin: 0 auto;
    width: 284px;
    border: 1px solid transparent;
}

p {
    margin: 0;
}

h2 {

    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="”checkbox”"].visually-hidden,
input[type="”radio”"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ff4e50;
    border-radius: 30px;
    padding: 13px 13px;
    width: 100%;
    outline: none;
}

/* Header */
header {
    text-align: center;
}

.header-back {
    background-image: url(../img/people-mobile.png);
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 540px;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.site-logo {
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    color: var(--white-color);
    order: 2;
    margin-top: 115px;
}

.nav-list {
    display: inline-flex;
    justify-content: space-around;
}

.nav-list-item {
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 1rem;
    border: 2px solid transparent;
    color: var(--white-color);
    padding: 10px 18px;
}

.nav-list-item:hover {
    border: 2px solid var(--white-color);
    border-radius: 30px;
}

.header-title {
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 29px;
    text-transform: uppercase;
    color: var(--white-color);
}

.header-title_sub {
    font-family: var(--roboto-font);
    font-size: 1.28rem;
    font-weight: 300;
    opacity: 0.5;
    color: var(--white-color);
}

.header-button {
    background-color: #ff4e50;
    margin-top: 20px;
    color: var(--white-color);
}

/* Main Section */

.partner-section {
    text-align: center;
}

.section-title {
    font-family: var(--montserrat-font);
    font-weight: 700;
    color: var(--black-color);
    font-size: 22px;
    margin-top: 65px;
}

.partner {
    position: relative;
    margin: 0 auto;
    max-width: 121px;
}

.partner-list-item {
    margin-top: 21px;
}

.partner-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.partner-1_icon::after {
    background: url(../img/icons/icon_1.png) center no-repeat #FF0000;
}

.partner-2_icon::after {
    background: url(../img/icons/icon_2.png) center no-repeat #ffa507;
}

.partner-3_icon::after {
    background: url(../img/icons/icon_3.png) center no-repeat #1cd7ad;
}

.partner-4_icon::after {
    background: url(../img/icons/icon_4.png) center no-repeat #4e73db;
}

.partner-photo_icon::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 4px solid var(--white-color);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.partner-name {
    font-family: var(--montserrat-font);
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 20px;
}

.partner-description {
    font-family: var(--roboto-font);
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    margin-top: 9px;
}

.footer-button {
    color: #ff4e50;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 25px;
    margin-bottom: 57px;
}

/* TABLET */
@media (min-width: 768px) {
    .header-back {
        background-image: url(../img/people-tablet.png);
        height: 700px;
    }

    .container {
        width: 660px;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 160px;
    }

    .site-logo {
        margin: 0;
        order: unset;
    }

    .header-title {
        font-size: 52px;
        width: 504px;
        margin: 0 auto;
    }

    .header-title_sub {
        font-size: 24px;
        margin-top: 30px;
    }

    .header-button {
        margin-top: 35px;
        width: 224px;
    }

    .partner-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 492px;
        margin: 0 auto;
    }

    .partner-list-item {
        flex: 0 0 222px;
    }

    .partner-list-item:nth-child(1) {
        order: 1;
    }

    .partner-list-item:nth-child(3) {
        order: 2;
    }

    .partner-list-item:nth-child(2) {
        order: 3;
    }

    .partner-list-item:nth-child(4) {
        order: 4;
    }

    .footer-button {
        margin-bottom: 40px;
        width: 192px;
    }
}

/* DESKTOP */

@media (min-width: 1440px) {
    .header-back{
        background-image: url(../img/people-desktop.png);
    }
    .container {
        width: 940px;
        padding: 0;
    }

    .partner-list {
        width: 940px;
    }

    .footer-button {
        margin-bottom: 72px;
    }
}
