.button--header {
  @extend %button;
  margin-top: 125px;
  background: transparent;
  border: 2px solid #fff;
}
.button--green {
  @extend %button;
  background-color: $icon-color;
  border: none;
}
