html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  height: 281px;
  max-width: 100%;
}
.container {
  width: 1110px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  border: 1px solid transparent;
}

section {
  margin-bottom: 97px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="”checkbox”"].visually-hidden,
input[type="”radio”"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.mb {
  margin-bottom: 98px;
}
.text-logo {
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 400;
  float: left;
  color: #555252;
  margin-top: 37px;
}

.text-logo span {
  color: #1abc9c;
}

.nav-list {
  list-style-type: none;
  float: right;
  margin-top: 42px;
  padding-inline-start: 0;
}
.nav-list-item{
  float: left;
  margin-left: 34px;
}

.nav-list-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.nav-list-item a:hover {
  color: #1abc9c;
}
/* Main Section */

.section-title {
  width: 540px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 32px;
  text-align: center;
  color: #515151;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  width: 164px;
  height: 8px;
  background-color: #1abc9c;
  margin: 24px auto;
}

.section-container {
  width: 1110px;
  margin: 0 auto;
}
.feature-wrapper{
  margin-top: 97px;
}
.section-feature {
  float: left;
  width: 255px;
  height: 322px;
  margin-bottom: 30px;
}

.section-feature:not(:nth-child(4n)) {
  margin-right: 30px;
}
.section-feature-img {
  background-color: #e9f0fd;
  height: 282px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.shoe-img {
  background-image: url(../img/shoe.png);
}
.belt-img {
  background-image: url(../img/belt.png);
}
.hat-img {
  background-image: url(../img/hat.png);
}
.bag-img {
  background-image: url(../img/bag.png);
}
.second-bag-img {
  background-image: url(../img/bag_2.png);
}
.second-belt-img {
  background-image: url(../img/belt_2.png);
}
.second-shoe-img {
  background-image: url(../img/shoe_2.png);
}
.sunglasses-img {
  background-image: url(../img/sunglasses.png);
}
.feature-name-size {
  display: block;
  width: 201px;
}
.section-feature-name {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  padding: 7px 0 1px 13px;
  float: left;
}

.section-feature-price {
  display: block;
  width: 54px;
  height: auto;
  float: right;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  background-color: #8c8c8c;
  padding: 7px 0 1px 10px;
}

.section-feature-price::before {
  content: "$";
  display: block;
  float: left;
}

.section-feature:hover .section-feature-name {
  background-color: #1abc9c;
}

.section-feature:hover .section-feature-price {
  background-color: #7fd9c7;
}

/* News Section */
.news {
  width: 351px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  float: left;
  margin-top: 67px;
}

.news:not(:first-child) {
  margin-left: 28px;
}
.news-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #605e5e;
  margin-top: 15px;
}

.news-title::after {
  content: "";
  display: block;
  width: 136px;
  height: 4px;
  background-color: #1abc9c;
  margin-top: 12px;
}

.news-description {
  font-size: 14px;
  line-height: 26px;
  color: #515151;
  margin-top: 26px;
}

.news-button {
  background-color: #1abc9c;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  width: 158px;
  height: 51px;
  margin-top: 14px;
}
