@import "fonts.css";

:root {
  --golden-color: #fed136;
  --black-color: #222222;
  --montserrat-font: "Montserrat", sans-serif;
  --greatvibes-font: "Great Vibes", serif;
  --roboto-font: "Roboto Slab", serif;
  --goudy-font: "Goudy Bookletter 1911", serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--montserrat-font);
  color: var(--black-color);
  font-size: 16px;
  line-height: 1.2;
}
.container {
  margin: 0 auto;
  width: 940px;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="”checkbox”"].visually-hidden,
input[type="”radio”"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Header */
header .flex {
  align-items: center;
}
header .container {
  margin-top: 53px;
}
.site-logo {
  font-family: var(--greatvibes-font);
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: var(--golden-color);
}

.nav-list {
  width: 485px;
}
.nav-list-item {
  font-family: var(--montserrat-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-color);
  text-transform: uppercase;
  transition: color 0.2s linear;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--golden-color);
}
/* Main */

.services {
  margin-top: 126px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--montserrat-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--black-color);
}
.title-sub {
  font-family: var(--goudy-font);
  font-style: italic;
  font-weight: 400;
  color: #929292;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  margin-top: 14px;
}

.services-list {
  margin-top: 80px;
}
.services-item {
  width: 290px;
}
.services-icon::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid var(--golden-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
.services-commerce::before {
  background-image: url(../img/icons/Icon-Basket.png);
}
.services-responsive::before {
  background-image: url(../img/icons/Icon-Laptop.png);
}
.services-web::before {
  background-image: url(../img/icons/Icon-Locked.png);
}

.services-item-title {
  font-family: var(--montserrat-font);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin-top: 26px;
}

.services-item-description {
  font-family: var(--roboto-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #777777;
  margin-top: 12px;
  padding-bottom: 119px;
}

/* Footer */
footer {
  height: 677px;
  background-image: url(../img/map.png),
    linear-gradient(to right, var(--black-color) 0%, var(--black-color) 100%);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.footer-section {
  border: 1px solid transparent;
}

footer .section-title {
  color: #ffffff;
  margin-top: 116px;
}
.contact-form{
  margin-top: 76px;
  text-align: center;
}
.form-field{
  display: flex;
}
.form-input{
  flex: 1;
  text-align: left;
}
input{
  width: 455px;
  height: 52px;
  padding: 19px;
  transition: outline .2s ease-in-out;
}

input:not(:first-child){
  margin-top: 29px;
}

textarea{
  width: 455px;
  height: 211px;
  padding: 19px;
  resize: none;
}
input::placeholder,textarea::placeholder{
  font-family: var(--montserrat-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #cdcdcd;
  text-transform: uppercase;
}
input[type="submit"]{
  background-color: var(--golden-color);
  font-family: var(--montserrat-font);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 240px;
  height: 62px;
  cursor: pointer;
}
input:required:valid, textarea:valid{
  outline: 3px solid #008000;
}
input:required:invalid, textarea:invalid{
  outline: 3px solid #ff0000;
}