:root {
  --secondary-color: #1abc9c;
  --primary-color: #555252;
  --roboto-font: "Roboto", sans-serif;
  --opensans-font: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  height: 280px;
  max-width: 100%;
}
h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1110px;
  margin: 0 auto;
  font-family: var(--roboto-font);
  border: 1px solid transparent;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="”checkbox”"].visually-hidden,
input[type="”radio”"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0,);
  overflow: hidden;
}
section {
  background-color: #e9f0fd;
}
/* Header */
.mb {
  margin-bottom: 98px;
}
.text-logo {
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 400;
  float: left;
  color: var(--primary-color);
  margin-top: 37px;
}

.text-logo::first-letter {
  color: var(--secondary-color);
}

.nav-list {
  list-style-type: none;
  float: right;
  margin-top: 42px;
  padding: 0;
}
.nav-list-item {
  float: left;
  margin-left: 34px;
}

.nav-list-item a {
  text-decoration: none;
  font-family: var(--opensans-font);
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.nav-list-item a:hover {
  color: var(--secondary-color);
}

/* Slide Section */

.slide-section {
  height: 601px;
  background-image: linear-gradient(
      to right,
      rgba(24, 24, 25, 0.5) 0%,
      rgb(24, 24, 25, 0.5) 100%
    ),
    url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 39px;
}

.slides {
  height: 117px;
  margin-top: 200px;
  position: relative;
}
.slides-item {
  font-family: var(--roboto-font);
  color: #fff;
}

.slides-item-container {
  width: 760px;
  margin: 0 auto;
}
.slides-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
}
.slides-button {
  color: #fff;
  border: none;
  width: 104px;
  height: 104px;
  background-color: #509e8c;
  font-size: 90px;
  line-height: 104px;
  display: inline-block;
  padding: 0;
  font-weight: 100;
  position: absolute;
  cursor: pointer;
}
.button-prev {
  left: 0;
  bottom: 0;
}
.button-next{
  right: 0;
  bottom: 0;
}
.slides-description {
  font-size: 24px;
  font-weight: 300;
}

/* New Collection Section */

.section-title {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #515151;
  font-weight: 700;
  text-transform: uppercase;
  margin: 95px 0 76px 0;
}

.section-title::after {
  content: "";
  display: block;
  width: 164px;
  height: 8px;
  background-color: var(--secondary-color);
  margin: 24px auto;
}

.section-container {
  width: 1110px;
  margin-bottom: 100px;
  font-size: 0;
}

.section-feature {
  display: inline-block;
  width: 255px;
  height: 322px;
  position: relative;
}

.section-feature:not(:last-child) {
  margin-right: 30px;
}

.section-feature-overlay {
  width: 230px;
  height: 260px;
  top: 11px;
  left: 11px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
}

.section-feature-container {
  width: 166px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.box {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0;
}
.box:hover {
  background-color: var(--secondary-color);
}
.box:not(:first-child) {
  margin-left: 4px;
}

.like {
  background-image: url(../img/heart.png);
}

.exchange {
  background-image: url(../img/arrows.png);
}

.time {
  background-image: url(../img/clock.png);
}

.shopping-cart {
  color: #fff;
  background-color: rgb(50, 50, 50);
  border: 1px solid #fff;
  margin-top: 7px;
  padding: 10px 0 10px 0;
  cursor: pointer;
}
.shopping-cart-text {
  font-family: var(--opensans-font);
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
.shopping-cart-text::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/basket.png);
  background-size: cover;
  vertical-align: middle;
  margin-right: 13px;
  margin-left: 10px;
}
.section-feature-name {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  padding: 5px 0 1px 13px;
  display: inline-block;
}
.feature-name-size {
  width: 201px;
  height: 40px;
}
.section-feature-price {
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  background-color: #8c8c8c;
  padding: 5px 0 1px 10px;
}
.feature-price-size {
  display: inline-block;
  width: 54px;
  height: 40px;
}
.section-feature-price::before {
  content: "\0024";
  display: block;
  float: left;
}

.section-feature:hover .section-feature-name {
  background-color: var(--secondary-color);
}

.section-feature:hover .section-feature-price {
  background-color: #7fd9c7;
}

.section-feature:hover .section-feature-overlay {
  display: block;
}

footer{
  background-color: #323232;
  height: 88px;
  border: 1px solid transparent;
}

.footer-text{
  text-transform: capitalize;
  font-family: var( --opensans-font);
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin-top: 31px;
}

.footer-text > a{
  color: var(--secondary-color);
  text-decoration: none;
}