section.wrapper
    h1.visually-hidden
      | About Services
    .row
      div.services__list
        div.services__item
          div.services__logo.services__logo--pencil
          p.services__title
            | Easily Customised
          p.services__description.
            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Nullam quis risus eget urna mollis ornare vel eu leo.
            Donec ullamcorper nulla non metus auctor fringilla.
        div.services__item
          div.services__logo.services__logo--display
          p.services__title
            | Responsive REady
          p.services__description.
            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Nullam quis risus eget urna mollis ornare vel eu leo.
            Donec ullamcorper nulla non metus auctor fringilla.
        div.services__item
          div.services__logo.services__logo--lamp
          p.services__title
            | Modern Design
          p.services__description.
            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Nullam quis risus eget urna mollis ornare vel eu leo.
            Donec ullamcorper nulla non metus auctor fringilla.
        div.services__item
          div.services__logo.services__logo--atom
          p.services__title
            | Clean Code
          p.services__description.
            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Nullam quis risus eget urna mollis ornare vel eu leo.
            Donec ullamcorper nulla non metus auctor fringilla.
        div.services__item
          div.services__logo.services__logo--backpack
          p.services__title
            | Ready To Ship
          p.services__description.
            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Nullam quis risus eget urna mollis ornare vel eu leo.
            Donec ullamcorper nulla non metus auctor fringilla.
        div.services__item
          div.services__logo.services__logo--cloud
          p.services__title
            | Download For Free
          p.services__description.
            Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            Nullam quis risus eget urna mollis ornare vel eu leo.
            Donec ullamcorper nulla non metus auctor fringilla.



