@import "fonts.css";

:root {
    --primary-color: #fff;
    --secondary-color: #333333;
    --secondary-font: "Roboto", sans-serif;
    --kaushan-font: "Kaushan Script", cursive;
    --montserrat-font: "Montserrat", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--montserrat-font);
    color: var(--secondary-color);
    line-height: 1.2;
    font-size: 14px;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 15px 33px;
    cursor: pointer;
    text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="”checkbox”"].visually-hidden,
input[type="”radio”"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

svg{
    display: block;
    width: 100%;
    height: 100%;
}

/* HEADER */
header {
    height: 1000px;
    background: linear-gradient(
            to top,
            rgba(230, 204, 128, 0.9) 0%,
            rgba(238, 136, 137, 0.9) 100%
    ), url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    font-family: var(--montserrat-font);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.2s linear;
    position: relative;
}

.navigation__item::after {
    content: "";
    position: absolute;
    bottom: -10px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    margin-top: 12px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.navigation__item:hover {
    color: #fce38a;
}

.navigation__item:hover::after {
    opacity: 1;
}

.navigation__icon svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-color);
    transition: fill 0.2s linear;
}

.navigation__icon:hover svg {
    fill: #fce38a;
}
.header__container{
    min-width: 821px;
    margin-top: 164px;
    text-align: center;
}

.text-center{
    text-align: center;
}

.header__sub-title{
    font-family: var(--kaushan-font);
    color: var(--primary-color);
    font-size: 72px;
    font-weight: 400;
}

.header__title{
    font-family: var(--montserrat-font);
    font-size: 150px;
    line-height: 140px;
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 42px;
}

.button--header{
    margin-top: 125px;
    background: transparent;
    border: 2px solid #fff;
}

