@import "fonts.css";

:root {
    --primary-color: #fff;
    --secondary-color: #333333;
    --secondary-font: "Roboto", sans-serif;
    --kaushan-font: "Kaushan Script", cursive;
    --montserrat-font: "Montserrat", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--montserrat-font);
    color: var(--secondary-color);
    line-height: 1.2;
    font-size: 14px;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 15px 33px;
    cursor: pointer;
    text-transform: uppercase;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="”checkbox”"].visually-hidden,
input[type="”radio”"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}


/* HEADER */
header {
    height: 1000px;
    background: linear-gradient(
            to top,
            rgba(230, 204, 128, 0.9) 0%,
            rgba(238, 136, 137, 0.9) 100%
    ), url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    font-family: var(--montserrat-font);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.2s linear;
    position: relative;
}

.navigation__item::after {
    content: "";
    position: absolute;
    bottom: -10px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    margin-top: 12px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.navigation__item:hover {
    color: #fce38a;
}

.navigation__item:hover::after {
    opacity: 1;
}

.navigation__icon svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-color);
    transition: fill 0.2s linear;
}

.navigation__icon:hover svg {
    fill: #fce38a;
}

.header__container {
    max-width: 821px;
    margin: 164px auto 0 auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

.header__sub-title {
    font-family: var(--kaushan-font);
    color: var(--primary-color);
    font-size: 72px;
    font-weight: 400;
}

.header__title {
    font-family: var(--montserrat-font);
    color: var(--primary-color);
    font-size: 75px;
    line-height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 42px;
}

.button--header {
    margin-top: 125px;
    background: transparent;
    border: 2px solid #fff;
}

/*SECTION*/

.section__title {
    text-align: center;
    margin-top: 100px;
}

.section__sub-title {
    font-family: var(--kaushan-font);
    font-size: 24px;
    font-weight: 400;
}

.section__main-title {
    font-family: var(--montserrat-font);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color)
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #f48989;
    margin: 40px auto 65px auto;
}

.services {
    display: flex;
    justify-content: space-between;
}

.services__icon {
    width: 72px;
    height: 38px;
}

.services__description {
    margin-left: 16px;
}

.services__title {
    font-family: var(--montserrat-font);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.services__text {
    font-family: var(--roboto-font);
    font-weight: 400;
    font-size: 15px;
    color: #999999;
}

.section__description {
    font-family: var(--roboto-font);
    font-size: 15px;
    line-height: 24px;
    color: #999999;

}

.lg-section-grid {
    text-align: center;
}

/*TEAM section*/

.team__item {
    text-align: center;
}

.team__name {
    font-family: var(--montserrat-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.l-name {
    margin-top: 30px;
}

.team__position {
    font-family: var(--roboto-font);
    font-style: italic;
    font-size: 15px;
    color: #999999;
}

.l-position {
    margin-top: 16px;
}

.team__photo {
    position: relative;
    transition: box-shadow 0.2s linear, transform 0.2s linear;
}

.team__photo::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to top, rgb(230, 204, 128) 0%, rgb(238, 136, 137) 100%);
    transition: opacity 0.2s linear;
}

.social {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: opacity 0.2s linear;
}

.social__list {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 57px;
    background-color: #fce38a;
    border: 1px solid #f9bd87;
    flex: 1;
}

.social__item svg {
    display: inline-block;
    width: 26px;
    height: 21px;
    fill: #f38181;
}

.social__item:hover svg {
    fill: #fff;
}

.social__item:hover {
    background-color: #f38181;
}

.team__photo:hover {
    box-shadow: 10px 10px 2px 0 #95e1d3;
    transform: translate(-10px, -10px);
}

.team__photo:hover .social {
    opacity: 1;
}

.team__photo:hover::after {
    opacity: 0.9;
}

/*Footer*/
.footer__border {
    border-top: 1px solid #cccccc;
}

.footer__copyright {
    font-family: var(--montserrat-font);
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color)
}

.footer__link--red {
    color: #f48989;
    text-decoration: none;
}

.footer__form {
    display: flex;
    justify-content: flex-end;
}

.footer__input {
    width: 40.42%;
    border: 1px solid #bababa;
}

.footer__input::placeholder {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-style: italic;
    color: #cccccc;
    padding: 14px;
}

.button--green {
    background-color: #95e1d3;
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    .lg-margin-top {
        margin-top: 97px;
    }

    .lg-section-grid {
        margin: 0 auto;
        width: 81.6666%;
    }

    .header__title {
        font-size: 150px;
        line-height: 140px;
    }
}

/*Tablet*/

@media (min-width: 768px) and (max-width: 1023px ) {
    header {
        background: linear-gradient(
                to top,
                rgba(230, 204, 128, 0.9) 0%,
                rgba(238, 136, 137, 0.9) 100%
        ), url(../img/background@0,5x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 700px;
    }

    .logo {
        text-align: center;
    }

    .header__sub-title {
        font-size: 36px;
    }

    .header__title {
        font-size: 75px;
        line-height: 70px;
    }

    .social {
        position: static;
        display: block;
        opacity: 1;
        transform: translate(0%, 0%);
        margin: 0 auto;
    }

}

/*Mobile*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    header {
        background: linear-gradient(
                to top,
                rgba(230, 204, 128, 0.9) 0%,
                rgba(238, 136, 137, 0.9) 100%
        ), url(../img/background@0,25x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
    }

    .header__container {
        margin-top: 50px;
    }

    .header__title {
        font-size: 40px;
        line-height: 40px;
    }

    .services__icon {
        width: 200px;
    }

    .team__photo img{
        width: 100%;
    }
    .team__item {
        margin-top: 20px;
    }

    .social {
        position: static;
        display: block;
        opacity: 1;
        transform: translate(0%, 0%);
        margin: 0 auto;
    }

    footer {
        margin-top: 10px;
    }

    .footer__form {
        flex-direction: column;
    }

    .footer__input {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
    }
}

/*RETINA*/
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    header {
        background-image: linear-gradient(
                to top,
                rgba(230, 204, 128, 0.9) 0%,
                rgba(238, 136, 137, 0.9) 100%
        ), url(../img/background@2x.png);
    }
}